<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
        <!-- ✅ Show a special message for a specific category -->
      {{ if eq .Title "废话篓" }}
        <p class = "custom-category-message">
          <a href="https://bamboobone9.com/posts/thoughts/index.xml" target="_blank">
            <img src="{{ "./RSS.png" | relURL }}" class="custom-category-icon">
          </a>
          “废话篓”更新可以通过这个 <a href="https://bamboobone9.com/posts/thoughts/index.xml" target="_blank"> RSS 地址</a> 单独订阅
        </p>
      {{ end }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if and (default true (default .Site.Params.BookToC .Params.BookToC)) (eq .Type "post") }}
      <aside class="book-toc">
        <div class="book-toc-content">
          {{ template "toc" . }} <!-- ✅ Shows ToC only for posts -->
        </div>
      </aside>
    {{ else if eq .Type "post" }}
      <aside class="book-toc">
        <div class="book-toc-content">
          {{ partial "docs/taxonomy" . }} <!-- ✅ Shows taxonomy for posts -->
        </div>
      </aside>
    {{ end }}

  </main>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{ if eq .Type "post"}}
     <!-- Display Title Image -->
    {{ if .Params.image }}
       <div class="post-title-image">
        <img src="{{ .Params.image | absURL }}" alt="{{ .Params.imageDes }}" />
      </div>
    {{ end }}
    <!-- Display Image Description -->
    {{ if .Params.imageDes }}
      <p class="title-image-description">
        {{ .Params.imageDes }}
      </p>
    {{ end }}
    <h1>{{- .Title -}}</h1>
    {{ partial "docs/post-meta" . }}
    <blockquote class="book-hint info">
      本文总计 {{ div .WordCount 1000.0 | lang.FormatNumber 2}}k 字, 阅读约需要 {{ div .WordCount 400}} 分钟
    </blockquote>
    <hr />

  {{ end }}
  {{- .Content -}}
  {{ if eq .Type "post"}}
    {{ partial "docs/related" .}}
      <!-- vertical version  -->
      <!-- <div class="support-container" > -->
        <!-- {{ partial "docs/reaction" . }}
        {{ partial "docs/support" .}} -->
      <!-- </div> -->
      {{ partial "docs/support" .}}
<!--       {{ partial "docs/reaction" . }}-->
    {{ end }}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
